[user]
	email = rootpigx@outlook.com
	name = Songsheng Yang
[safe]
	directory = *
[protocol]
	version = 2
[fetch]
	parallel = 0
[http]
	postBuffer = 524288000
[core]
	compression = 0
[merge]
	autoEdit = no
